.notecard {
    background-color: lightblue;
    width: 450px;
    height: 450px;
    border-radius: 8px;
    margin-top: 100px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;

    display: flex; /* displays everything along horizontal line, evening spaced */
    flex-direction: column;

  }
  body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: white;
    background:#2c2929
  }

  .note-title {
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px 0 10px 0;;
  }

  .notecard-thumbnail{
    width: 100px;
    height: 100px;
    border-radius: 50px;
  }